<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Formicant.BasicExtensions" version="0.1.14-pre" targetFramework="net4-client" userInstalled="true" />
  <package id="Formicant.CollectionExtensions" version="0.1.15-pre" targetFramework="net4-client" userInstalled="true" />
  <package id="Formicant.EnumerableExtensions" version="0.1.14-pre" targetFramework="net4-client" userInstalled="true" />
  <package id="Formicant.NumberExtensions" version="0.1.14-pre" targetFramework="net4-client" userInstalled="true" />
  <package id="Formicant.StringOperationExtensions" version="0.1.9-pre" targetFramework="net4-client" userInstalled="true" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net4-client" userInstalled="true" />
</packages>